requests==2.26.0
types-requests==2.26.1
setuptools==59.5.0
wheel==0.37.0                       # install as transitive from sqlalchemy
Flask==2.0.2
# Werkzeug==2.0.2                    # install as transitive from Flask
MarkupSafe==2.0.1
# Jinja2==3.0.3                      # install as transitive from Flask
jsonschema==4.2.1
pytest==6.2.5
mypy==0.910
# mypy-extensions==0.4.3             # install as transitive from mypy
sqlalchemy==1.4.28
sqlalchemy-stubs==0.4
sqlalchemy-repr==0.0.2
pymysql==1.0.2
# google-cloud-logging==2.7.0       # install transitively
# google-auth==2.3.3                # install transitively
# google-cloud-iam==2.5.1           # why needed?
google-api-python-client==2.33.0
google-cloud-pubsub==2.9.0
# oauth2client==4.1.3               # why needed?
pypfb==0.5.0                      # 0.5.16, but that fails to install
gcsfs==2021.04.0                  # 2021.11.1
memunit==0.5.2
# psutil==5.7.3                     # install as transitive from memunit
pyhumps==3.0.2
flask-restx==0.5.1
